








html,
body{
 overflow-x:hidden;
}

html{
 font-family:"EB Garamond","PT Serif",Georgia,"Times New Roman",serif;
}

h1,h2,h3,h4,h5,h6{
 font-family:Raleway,"PT Sans",Helvetica,Arial,sans-serif;
 font-size:1.3em;
 font-weight:550;
 color:#313131;
 letter-spacing:-.025rem;
}




.wrap{
 position:relative;
 width:100%;
}




.container{
 max-width:28rem;
 background:#fff;
}
@media (min-width:38rem){
 .container{
 max-width:46rem;
}
}
@media (min-width:56rem){
 .container{
 max-width:56rem;
}
}




.masthead{
 padding-top:1rem;
 padding-bottom:1rem;
 margin-bottom:3rem;
 border-bottom:1px solid #eee;
}
.masthead-title{
 font-family:Raleway;
 margin-top:0;
 margin-bottom:0;
 color:#505050;
 font-size:3.5em;
 display:flex;
 justify-content:center;
 align-items:center;
}
.masthead-title a{
 text-decoration:none;
 color:#505050;
}
.masthead-title small{
 font-size:75%;
 font-weight:400;
 color:#c0c0c0;
 letter-spacing:0;
}

@media (max-width:48rem){
 .masthead-title{
 text-align:center;
}
 .masthead-title small{
 display:none;
}
}

#nav{
 height:30px;
 hidden:false;
 background:#fff;
}

.masthead-nav{
 font-family:Raleway;
 display:flex;
 justify-content:center;
 align-items:center;
 line-height:1.5;
 padding-top:1em;
 padding-bottom:1em;
}

.masthead-nav a{
 margin-left:15px;
 margin-right:15px;
 color:#111;
}
.masthead-nav a:hover{
 color:#ff2a13;
 text-decoration:overline;
}

.footer-nav{
 font-family:Raleway;
 display:flex;
 justify-content:center;
 align-items:center;
 line-height:1.5;
 padding-top:1em;
 padding-bottom:1em;
 font-size:75%;
}

.footer-nav>ul{
 list-style:none;
}

.footer-nav>ul>li{
 display:inline;
 padding:1.5em;
}

.footer{
 width:100%;
}



.page,
.post{
 margin-bottom:4em;
}


.page-title,
.post-title,
.post-title a{
 color:#303030;
}
.page-title,
.post-title{
 margin-top:0;
}

.about-photo{
 float:right;
}

.about-photo>img{
 width:15em;
 height:15em;
}

@media (max-width:38rem){
 .about-photo{
 float:none;
 display:flex;
 justify-content:center;
 align-items:center;
}
}

.icon>svg{
 display:inline-block;
 width:1.3em;
 height:1.3em;
vertical-align:middle}
.icon>svg path{
fill:#828282}
