{% extends "base.html" %}
{% macro authorlist(authors) %}
{% set_global _authors = [] %}
{% for author in authors | split(pat=" and ") %}
{% set name = author | split(pat=",") | reverse | join(sep=" ") | trim %}
{% if name == "Wil Thomason" or name == "Wil B. Thomason" %}
{% set name = "**" ~ name ~ "**" %}
{% endif %}
{% if loop.last %}
{% set name = "and " ~ name %}
{% endif %}
{% set_global _authors = _authors | concat(with=name) %}
{% endfor %}
{% if _authors | length == 2 %}
{% set authsep = " " %}
{% else %}
{% set authsep = ", " %}
{% endif %}
{{ _authors | join(sep=authsep) | markdown(inline=true) | safe }}.
{% endmacro authorlist %}
{% macro rawbibtex(paper) %}
@{{ paper.entry_type | safe }}{% raw %}{{% endraw %}{{ paper.citation_key | safe }},{% for tag, val in paper.tags %}{% if tag == "file" or tag == "extra" or tag == "abstract" %}{% continue %}{% endif %}
  {{ tag | safe }} = {% raw %}{{% endraw %}{{ val | safe }}{% raw %}}{% endraw %}{% if not loop.last %},{% endif %}{% endfor %}}
}{% endmacro %}
{% block content %}
<script src="js/collapsible_bibtex.js"></script>
{% set pubs = load_data(path="@/publications/publications.bib", format="bibtex") %}
<h1>Conference Publications</h1>
{% set conference_articles = pubs.bibliographies | filter(attribute="entry_type", value="inproceedings") %}
{% for paper in conference_articles | sort(attribute="tags.date") | reverse %}
<dl class="pubdata">
  <div class="pubitem">
    <dt class="pubtitle">
      <b>“{{ paper.tags.title | replace(from="{{", to="") | replace(from="}}", to="") }}”</b>
    </dt>
    <dd>
      {{ self::authorlist(authors=paper.tags.author) }}
      {% if paper.tags.note %}
      {{ paper.tags.note }}
      {% endif %}
      <br />
      <a class="paperlink" href="{{ paper.tags.url }}">PDF</a>
      <span class="linksep">/</span>
      <span class="bibtexcollapsible">BibTeX</span>
      <div class="bibtexcontent">
        <pre>{{ self::rawbibtex(paper=paper)}}</pre>
      </div>
    </dd>
  </div>
  {% endfor %} {% endblock content %}
</dl>
