{% extends "base.html" %}
{% macro authorlist(authors) %}
{% set_global _authors = [] %}
{% for author in authors | split(pat=" and ") %}
{% set name = author | split(pat=",") | reverse | join(sep=" ") | trim %}
{% if name == "Wil Thomason" or name == "Wil B. Thomason" %}
{% set name = "**" ~ name ~ "**" %}
{% endif %}
{% if loop.last %}
{% set name = "and " ~ name %}
{% endif %}
{% set_global _authors = _authors | concat(with=name) %}
{% endfor %}
{% if _authors | length == 2 %}
{% set authsep = " " %}
{% else %}
{% set authsep = ", " %}
{% endif %}
{{ _authors | join(sep=authsep) | markdown(inline=true) | safe }}.
{% endmacro authorlist %}
{% block content %}
<script src="js/collapsible_bibtex.js"></script>
{% set pubs = load_data(path="@/publications/publications.bib", format="bibtex") %}
<h1>Conference Publications</h1>
{% set conference_articles = pubs.bibliographies | filter(attribute="entry_type", value="inproceedings") %}
{% for paper in conference_articles | sort(attribute="tags.date") | reverse %}
<dl class="pubdata">
  <div class="pubitem">
    <dt class="pubtitle">
      <b>"{{ paper.tags.title | replace(from="{{", to="") | replace(from="}}", to="") }}"</b>
    </dt>
    <dd>
      {{ self::authorlist(authors=paper.tags.author) }}
      {% if paper.tags.note %}
      {{ paper.tags.note }}
      {% endif %}
      Presented at IROS 2022. Published in IEEE Robotics and Automation Letters
      (RA-L), 2022.
      <br />
      <a class="paperlink" href="../papers/ral_iros2022_tmitstar.pdf">PDF</a>
      <span class="linksep">/</span>
      <span class="bibtexcollapsible">BibTeX</span>
      <div class="bibtexcontent">
        <pre>
          @article{thomason_tmit_star_2022,
          author={Thomason, Wil and Strub, Marlin P. and Gammell, Jonathan D.},
          journal={IEEE Robotics and Automation Letters},
          title={Task and Motion Informed Trees (TMIT*): Almost-Surely Asymptotically Optimal Integrated Task and Motion
          Planning},
          year={2022},
          volume={7},
          number={4},
          pages={11370-11377},
          doi={10.1109/LRA.2022.3199676}}
        </pre>
      </div>
    </dd>
  </div>
  {% endfor %} {% endblock content %}
</dl>
