<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Enable responsiveness on mobile devices-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />

    <title>wil thomason{% if section.title %} · {{ section.title }} {% endif %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="styles/theme.css") }}"/>
    <link
      rel="shortcut icon"
      href="./index.html/favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="wrap">
      <div class="masthead-contents" id="mh-contents">
        <h1 class="masthead-title">
          <a href="/" title="Home">wil thomason{% if section.title %} / {{ section.title }} {% endif %}</a>
        </h1>
        <div class="masthead">
          <figure class="about-photo">
            <img src="{{ get_url(path="images/about-photo.jpg") }}"/>
          </figure>
          <nav class="masthead-nav" id="nav">
            <ul class="left">
              <li>
                <a href="{{ get_url(path="@/publications/_index.md") }}">publications and presentations</a>
              </li>
              <li><a href="{{ get_url(path="@/awards/_index.md") }}">awards</a></li>
              <li><a href="https://wbthomason.github.io/blog">blog</a></li>
              <li><a href="{{ get_url(path="wbthomason.cv.pdf") }}">cv</a></li>
            </ul>

            <ul class="right">
              <li><b>email:</b> wbthomason@<br />{university}.edu</li>
              <li>
                <a href="https://github.com/wbthomason">
                  <img
                    src="{{ get_url(path="svg/github.svg") }}"
                    class="icon icon--github"
                    alt="Github"
                  />
                  <span class="username">wbthomason</span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/wilthomason">
                  <img
                    src="{{ get_url(path="svg/twitter.svg") }}"
                    class="icon icon--twitter"
                    alt="Twitter"
                  />
                  <span class="username">wilthomason</span>
                </a>
              </li>
              <li class="icons">
                <a
                  href="https://scholar.google.com/citations?user=qsIX7joAAAAJ&hl=en"
                >
                  <img
                    src="{{ get_url(path="svg/google-scholar.svg") }}"
                    class="icon icon--scholar"
                    alt="Google Scholar"
                  />
                </a>
                <a href="https://dblp.uni-trier.de/pid/219/6125.html">
                  <img
                    src="{{ get_url(path="svg/dblp.svg") }}"
                    class="icon icon--dblp"
                    alt="DBLP"
                  />
                </a>
                <a href="https://orcid.org/0000-0001-6200-9762">
                  <img
                    src="{{ get_url(path="svg/orcid.svg") }}"
                    class="icon icon--orcid"
                    alt="ORCID"
                  />
                </a>
                <a href="https://www.linkedin.com/in/wbthomason/">
                  <img
                    src="{{ get_url(path="svg/linkedin.svg") }}"
                    class="icon icon--linkedin"
                    alt="LinkedIn"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container content">
        <main class="page">{% block content %} {% endblock %}</main>
      </div>
    </div>
    <footer class="footer-nav">
      <ul>
        <li>
          Website design inspired by the websites of
          <a href="https://www.cs.cornell.edu/~molly/">Molly Q Feldman</a>,
          <a href="https://www.cs.cornell.edu/~cliang/">Claire Liang</a>,
          <a href="https://bmcinnis.github.io/">Brian McInnis</a>,
          <a href="https://gyauney.github.io/">Gregory Yauney</a>, and
          <a href="http://zkingston.com/">Zak Kingston</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
