{% extends "base.html" %}
{% macro authorlist(authors, filter=false) %}
{% set_global _authors = [] %}
{% for author in authors | split(pat=" and ") %}
{% set name = author | split(pat=",") | reverse | join(sep=" ") | trim %}
{% set is_me = false %}
{% if name == "Wil Thomason" or name == "Wil B. Thomason" or name == "Wil Thomason*" %}
{% set is_me = true %}
{% set name = "**" ~ name ~ "**" %}
{% endif %}
{% if loop.last %}
{% set name = "and " ~ name %}
{% endif %}
{% if not filter or not is_me %}
{% set_global _authors = _authors | concat(with=name) %}
{% endif %}
{% endfor %}
{% if _authors | length == 2 %}
{% set authsep = " " %}
{% else %}
{% set authsep = ", " %}
{% endif %}
{{ _authors | join(sep=authsep) | markdown(inline=true) | safe }}.
{% endmacro authorlist %}
{% macro rawbibtex(paper) %}
@{{ paper.entry_type | safe }}{% raw %}{{% endraw %}{{ paper.citation_key | safe }},{% for tag, val
in paper.tags %}{% if tag == "file" or tag == "extra" or tag == "abstract" or tag == "pdf" or tag == "acceptance" or tag == "conference" or tag == "note" or tag == "review" %}{% continue %}{% endif %}
  {{ tag | safe }} = {% raw %}{{% endraw %}{{ val | safe }}{% raw %}}{% endraw %}{% if not loop.last %},{% endif %}{% endfor %}}
}{% endmacro %}
{% block content %}
<script src="{{ get_url(path="js/collapsible_bibtex.js") }}"></script>
{% set pubs = load_data(path="@/publications/publications.bib", format="bibtex") %}
{% set_global conference_articles = pubs.bibliographies | filter(attribute="entry_type", value="inproceedings") %}
{% set_global preprint_articles = pubs.bibliographies | filter(attribute="entry_type", value="online") %}
{% set_global journal_articles = pubs.bibliographies | filter(attribute="entry_type", value="article") %}
{% for article in journal_articles %}
{% if article.tags.conference %}
{% set_global conference_articles = conference_articles | concat(with=article) %}
{% endif %}
{% endfor %}
{% for article in preprint_articles %}
{% if article.tags.conference %}
{% set_global conference_articles = conference_articles | concat(with=article) %}
{% elif article.tags.journal %}
{% set_global journal_articles = journal_articles | concat(with=article) %}
{% endif %}
{% endfor %}
<h1>Conference Publications</h1>
<div class="pubs">
{% set_global year = "0" %}
{% for paper in conference_articles | sort(attribute="tags.date") | reverse %}
{% set paper_year = paper.tags.date | split(pat="-") | nth(n=0) %}
{% if year != paper_year %}
{% set_global year = paper_year %}
<div class="pubyear">{{paper_year}}</div>
{% else %}
<div class="pubyear"></div>
{% endif %}
<dl class="pubdata">
  <div class="pubitem">
    <dt class="pubtitle">
      <b>“{{ paper.tags.title | replace(from="{{", to="") | replace(from="}}", to="") }}”</b>
    </dt>
    <dd>
      <div class="pubinfo">
      {{ self::authorlist(authors=paper.tags.author) }}
      {% if paper.tags.conference and paper.entry_type is matching("article") %}
      <br/>
      <span>Presented at {{ paper.tags.conference }}.</span>
      <span>Published in {{ paper.tags.journaltitle | replace(from="{{", to="") | replace(from="}}", to="") }}.</span>
      {% elif paper.tags.booktitle %}
      <span>{{ paper.tags.booktitle | replace(from="{{", to="") | replace(from="}}", to="") }}.</span>
      {% endif %}
      {% if paper.tags.review %}
      <span class="pub-review">(under review)</span>
      {% endif %}
      {% if paper.tags.acceptance %}
      <span class="pub-acceptance">Acceptance rate: {{ paper.tags.acceptance }}%</span>
      {% endif %}
      {% if paper.tags.note %}
      {{ paper.tags.note }}
      {% endif %}
      </div>
      {% if paper.tags.pdf %}
      <a class="paperlink" href="{{ paper.tags.pdf }}">pdf</a>
      <span class="linksep">/</span>
      {% endif %}
      {% if not paper.tags.review %}
      <a class="paperlink" href="{{ paper.tags.url }}">publisher</a>
      <span class="linksep">/</span>
      {% endif %}
      <span class="bibtexcollapsible">bibtex</span>
      <div class="bibtexcontent">
        <pre>{{ self::rawbibtex(paper=paper)}}</pre>
      </div>
    </dd>
  </div>
</dl>
{% endfor %}
</div>

<h1>Journal Publications</h1>
<div class="pubs">
{% set_global year = "0" %}
{% for paper in journal_articles | sort(attribute="tags.date") | reverse %}
{% set paper_year = paper.tags.date | split(pat="-") | nth(n=0) %}
{% if year != paper_year %}
{% set_global year = paper_year %}
<div class="pubyear">{{paper_year}}</div>
{% else %}
<div class="pubyear"></div>
{% endif %}
<dl class="pubdata">
  <div class="pubitem">
    <dt class="pubtitle">
      <b>“{{ paper.tags.title | replace(from="{{", to="") | replace(from="}}", to="") }}”</b>
    </dt>
    <dd>
      {{ self::authorlist(authors=paper.tags.author) }}
      <span>{{ paper.tags.journaltitle | replace(from="{{", to="") | replace(from="}}", to="") }}.</span>
      {% if paper.tags.review %}
      <span class="pub-review">(under review)</span>
      {% endif %}
      {% if paper.tags.note %}
      {{ paper.tags.note }}
      {% endif %}
      <br />
      {% if paper.tags.pdf %}
      <a class="paperlink" href="{{ paper.tags.pdf }}">pdf</a>
      <span class="linksep">/</span>
      {% endif %}
      <a class="paperlink" href="{{ paper.tags.url }}">publisher</a>
      <span class="linksep">/</span>
      <span class="bibtexcollapsible">bibtex</span>
      <div class="bibtexcontent">
        <pre>{{ self::rawbibtex(paper=paper)}}</pre>
      </div>
    </dd>
  </div>
</dl>
{% endfor %}
</div>

<h1>Workshop Presentations</h1>
{% set workshops = load_data(path="@/publications/workshops.toml") %}
<div class="pubs">
  {% set_global year = "0" %}
  {% for presentation in workshops.presentations | sort(attribute="year") | reverse %}
  {% if year != presentation.year %}
  {% set_global year = presentation.year %}
  <div class="pubyear">{{presentation.year}}</div>
  {% else %}
  <div class="pubyear"></div>
  {% endif %}
  <dl class="pubdata">
    <div class="pubitem">
      <dt class="pubtitle">
        <b>“{{ presentation.title }}”</b>
      </dt>
      <dd>
        {{ self::authorlist(authors=presentation.authors) }} 
        Presented at the 
        {% if presentation.workshop_url %}
        <a href="{{ presentation.workshop_url }}">{{ presentation.workshop_name }}</a>
        {% else %}
        <span>{{ presentation.workshop_name }}</span>
        {% endif %}
        at {{ presentation.workshop_venue }}
        {% if presentation.pdf_path or presentation.pdf_url %}
        <br />
        <a class="paperlink"
          {% if presentation.pdf_path %}
          href="{{ get_url(path="papers/" ~ presentation.pdf_path) }}"
          {% else %}
          href="{{ presentation.pdf_url }}"
          {% endif %}
          >pdf</a>
        {% endif %}
      </dd>
    </div>
  </dl>
  {% endfor %}
</div>

<h1>Grants</h1>
{% set grants = load_data(path="@/publications/grants.toml") %}
<div class="pubs">
  {% for grant in grants.grants %}
   <div class="pubyear">{{ grant.agency }}<br/>#{{ grant.number }}</div>
  <dl class="pubdata">
    <div class="pubitem">
      <dt class="pubtitle">
        <b>“{{ grant.title }}”</b>
      </dt>
      <dd>
        {% if grant.coauthor %}
        Co-author with 
        {{ self::authorlist(authors=grant.authors, filter=true) }} 
        {% else %}
        {{ self::authorlist(authors=grant.authors) }} 
        {% endif %}
        <br />
        <a class="paperlink" href="{{ grant.url }}">award</a>
      </dd>
    </div>
  </dl>
  {% endfor %}
</div>

<h1>Class Notes</h1>
{% set courses = load_data(path="@/publications/courses.toml") %}
<div class="pubs">
  {% for course in courses.courses %}
  <div class="pubyear">{{ course.year }}</div>
  <dl class="pubdata">
    <div class="pubitem">
      <dt class="pubtitle">
        <b>{{ course.name }}</b>
      </dt>
      <dd>
        {{ self::authorlist(authors=course.authors) }} 
        <br />
        <a class="paperlink" href="{{ course.url }}">course page</a>
      </dd>
    </div>
  </dl>
  {% endfor %}
</div>
{% endblock content %}
