<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  $partial("templates/head.html")$
  <body class="layout-reverse">
    $partial("templates/sidebar.html")$
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            <a href="/" title="Home">$site_title$</a>
          </h1>
        </div>
          <nav class="masthead-nav" id="nav">
            <a href="/contact">contact</a>
            <a href="/projects">projects</a>
            <a href="/publications">publications and presentations</a>
            <a href="https://wbthomason.github.io/blog">blog</a>
            <a href="/wbthomason.cv.pdf">cv</a>
          </nav>
      </div>

      <div class="container content">

